Package: rclone-sync
Version: 0.1
Section: base
Priority: optional
Architecture: all
Maintainer: Felipe Lustosa <https://github.com/flustosa>
Depends: rclone, inotify-tools
Description: Directory sync service using inotify and rclone
 This package installs a service to synchronize directories with Google Drive using inotify and rclone.

